/* Colors */
:root {
  --garden-30: #56dfc1;
  --garden-60: #009877; /* Accent Color */
  --gray-80: #4d4d4d;
  --white: #fff;
  --black: #000;
}

.about-this-page {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  padding: 1.5rem;
}
.about-this-page code {
  background-color: transparent;
  color: var(--black);
  padding: 0 2px;
}
@media screen {
  .about-this-page {
    background-color: var(--gray-80);
    border-top-right-radius: .5rem;
    bottom: 0;
    color: var(--white);
    left: 0;
    max-width: 640px;
    position: fixed;
    z-index: 100;
  }
  .about-this-page code {
    color: var(--white);
  }
  .about-this-page a {
    border-bottom: 1px dotted var(--white);
    color: var(--white);
  }
  .about-this-page .about-this-page__links a {
    border-bottom-width: 0px;
    color: var(--garden-30);
  }
  .about-this-page .about-this-page__links {
    margin-top: 1em;
  }
  .quire main {
    padding-bottom: 200px;
  }
}
